body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  background-color: #ff0000;
  color: #fff;
  padding: 3em;
  text-align: center;
}

main {
  padding: 2em;
  text-align: center;
}

#game {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 2em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 80%;
  max-width: 600px;
  margin: -50px auto 0 auto;
  position: relative;
  z-index: 10;
}

.sbb-query {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1em;
  border-radius: 8px;
  color: #333;
  margin-bottom: 1em;
  font-size: 1.5em;
}

.station-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
}

.station {
  margin-bottom: 0.5em;
}

.station label {
  font-weight: bold;
  margin-right: 0.5em;
}

.time-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.time-input label {
  font-weight: bold;
}

#guess {
  padding: 0.5em;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-top: 0.5em;
  font-size: 1.2em;
}

#result {
  margin-top: 1em;
  font-size: 1.2em;
}

#score {
  margin-top: 1em;
  font-size: 1.2em;
}

#animation {
  margin-top: 1em;
}

#animation img {
  width: 200px;
}

.hidden {
  display: none;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
  position: static;
  width: 100%;
  bottom: 0;
}

#team {
  margin-top: 2em;
  text-align: center;
}

.team-member {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
  display: inline-block;
  vertical-align: top;
  margin: 1em;
  box-sizing: border-box;
}

.team-member img {
  border-radius: 15%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.team-member h3 {
  margin: 0.5em 0;
}

.team-member .role {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0.5em;
  text-align: left;
  color: red;
}

.team-member .description {
  font-size: 0.9em;
  text-align: left;
}

#confetti-gif {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  z-index: 1000;
  pointer-events: none;
  display: none; /* Standardmäßig versteckt */
}

sbb-button-link {
  background-color: #ff0000;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
}

sbb-button-link:hover {
  background-color: #cc0000;
}

sbb-button-link::before {
  content: '→';
  margin-right: 0.5em;
}

#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
}